@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
  background: #6D3AFA;
}

.secondary {
  background: #DFCCFB;
}

.tertiary {
  background: #FFF3DA;
}

.default {
  background: #FFFFFF;
}

.hero-image > img {
  width: auto;
  height: 600px;
}

.logo {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
