@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
  background: #6D3AFA;
}

.secondary {
  background: #DFCCFB;
}

.tertiary {
  background: #FFF3DA;
}

.default {
  background: #FFFFFF;
}

.hero-image {
  width: 351px;
  height: 813px;
}
